.searchContainer {
  height: 40px;
  width: 99%;
  max-width: 500px;
  position: absolute;
  left: -86%;
  bottom: 4px;
  background-color: #0000002b;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-duration: 0.5s;
}

section.fullScreen .searchContainer {
  height: 40px;
  width: 500px;
  position: absolute;
  left: -433px;
}

section.fullScreen .openSearchContainer,
.openSearchContainer {
  left: 0px;
}

.searchInputContainer {
  width: 69%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.searchInputContainer input {
  width: 90%;
  margin: 0 auto;
  outline: none;
  height: 70%;
  font-size: 20px;
}

.searchVariables {
  /* height: 300px; */
  /* width: 185px; */
  /* position: absolute; */
  /* background: aliceblue; */
  /* top: 32px; */
}

.openKeyboardBtn {
  height: 82%;
  border-right: solid 1px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  width: 19%;
}

.searchBtn {
  height: 100%;
  width: 14%;
  overflow: hidden;
  border-left: solid 1px #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.searchBtn__inset {
  display: flex;
  width: 210%;
  height: 100%;
  background: linear-gradient(90deg, #ff0808 50%, #5262ff 50%);
  cursor: pointer;
  position: absolute;
  left: 0%;
  transition-duration: 0.5s;
}

.searchBtn__insetClose {
  left: -106%;
}

.searchBtn__inset_part {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchOpen {
  width: 50%;
}

.openKeyboardBtn img {
  width: 40px;
  cursor: pointer;
}

.searchBtn__inset_part img {
  width: 26px;
}

.searchBtn__inset:first-child img {
  transform: rotateY(180deg);
}